*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.card{
    margin: 20px;
    width: 60%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.9);
    border-radius: 10px;
    transition: box-shadow 0.3s;

}

.card-image{
    width: 100%;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    transition: opacity 200ms ease;
    max-height: 250px;
}
.card-image:hover{
    box-shadow: 0.8s;
}

.card:hover{
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
.card-body{
    padding: 10px 16px;
}
.card-title{
    margin-bottom: 15px;
    font-size: 22px;
}